#app[theme="light"] #app-overlay .report-select .report-select-inner .basic .title {
    color: var(--black-200) !important;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .basic .name {
    color: var(--black-600) !important;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .basic .description {
    color: var(--gray-100) !important;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .form .name {
    color: var(--black-400) !important;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .form .detail {
    color: var(--gray-100) !important;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .actions .return {
    color: var(--white-100);
    background-color: #3CBC8D;
}
#app[theme="light"] #app-overlay .report-select .report-select-inner .actions .report {
    color: var(--white-100);
    background-color: #E84057;
}