@font-face {
    font-family: "LoL Body";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/spiegel/Spiegel-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Body";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/spiegel/Spiegel-SemiBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Body";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/spiegel/Spiegel-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Body";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/spiegel/Spiegel-RegularItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Body";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/spiegel/Spiegel-SemiBoldItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Body";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/spiegel/Spiegel-BoldItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/beaufort/BeaufortForLoL-Light.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/beaufort/BeaufortForLoL-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/beaufort/BeaufortForLoL-Medium.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/beaufort/BeaufortForLoL-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/beaufort/BeaufortForLoL-Heavy.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/beaufort/BeaufortForLoL-LightItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/beaufort/BeaufortForLoL-Italic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/beaufort/BeaufortForLoL-MediumItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/beaufort/BeaufortForLoL-BoldItalic.otf") format("opentype");
  }
  
  @font-face {
    font-family: "LoL Display";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/beaufort/BeaufortForLoL-HeavyItalic.otf") format("opentype");
  }
  