#app[theme="light"] .app-body-block.lol-champion-list .champion-list-filter .filter-by-text {
    border-color: #666666 !important;
    background-color: var(--white-100) !important;
}
#app[theme="light"] .app-body-block.lol-champion-list .champion-list-filter .filter-by-text .mask {
    background-color: #666666 !important;
}
#app[theme="light"] .app-body-block.lol-champion-list .champion-list-filter .filter-by-text input {
    color: var(--black-200) !important;
}
#app[theme="light"] .app-body-block.lol-champion-list .champion-container .champion-wrapper .champion span {
    color: var(--black-200) !important;
}