@import url("./dark.css");
@import url("./light.css");

.checkbox[type="radio"],
.checkbox[type="checkbox"] {
    position: relative;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    overflow: hidden;
}
.checkbox[type="radio"] {
    border-radius: 50%;
}
.checkbox[type="radio"]::before,
.checkbox[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border-width: calc(.15*var(--checkbox-size));
    border-style: solid;
}
.checkbox[type="radio"]::before {
    border-radius: 50%;
}
.checkbox[type="radio"]::after,
.checkbox[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}
.checkbox[type="radio"]::after {
    border-radius: 50%;
}
.checkbox[type="radio"]:checked::before,
.checkbox[type="checkbox"]:checked::before {
    border: 0;
}
