@import url("./dark.css");
@import url("./light.css");

.switch[type="checkbox"] {
    position: relative;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
}
.switch[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
    border-radius: var(--switch-size);
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}
.switch[type="checkbox"]::after {
    content: "";
    height: calc(var(--switch-size) * 0.65);
    width: calc(var(--switch-size) * 0.65);
    background-color: var(--white-200);
    position: absolute;
    left: 0;
    margin: calc(var(--switch-size) * 0.175);
    border-radius: 50%;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
}
.switch[type="checkbox"]:checked::after {
    left: 50%;
}