#app[theme="dark"] .app-body-block.summoner-season-overview .career-stats-inner .item::after {
    border-color: var(--black-300) !important;
}
#app[theme="dark"] .app-body-block.summoner-season-overview .primary-champions-inner .table-head li,
#app[theme="dark"] .app-body-block.summoner-season-overview .primary-champions-inner .table-body li {
    color: #f0e6d2 !important;
}
#app[theme="dark"] .app-body-block.summoner-season-overview .primary-champions-inner .table-body li:hover {
    background-color: var(--black-700) !important;
}
#app[theme="dark"] .app-body-block.summoner-season-overview .role-distribution-inner .role-distribution-chart {
    border-color: var(--black-700) !important;
}
#app[theme="dark"] .app-body-block.summoner-season-overview .role-distribution-inner .role-distribution-label .item li,
#app[theme="dark"] .app-body-block.summoner-season-overview .role-distribution-inner .role-distribution-label .item span {
    color: var(--white-700) !important;
}