#app[theme="dark"] .app-body-block.summoner-spell-list .spell-list-filter .filter-by-text {
    border-color: #cdbe91 !important;
    background-color: var(--black-200) !important;
}
#app[theme="dark"] .app-body-block.summoner-spell-list .spell-list-filter .filter-by-text .mask {
    background-color: #cdbe91 !important;
}
#app[theme="dark"] .app-body-block.summoner-spell-list .spell-list-filter .filter-by-text input {
    color: var(--white-100) !important;
}
#app[theme="dark"] .app-body-block.summoner-spell-list .spells-container .spells-wrapper .spell span {
    color: var(--white-100) !important;
}