@import url("./dark.css");
@import url("./light.css");

.app-body-block.lol-challenge-thresholds {
    height: 100%;
}
.app-body-block.lol-challenge-thresholds>.block-inner {
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 0 calc(var(--S) * 0.01);
}
.app-body-block.lol-challenge-thresholds>.block-inner .thresholds-options {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--S) * 0.05);
    margin-bottom: calc(var(--S) * 0.01);
}
.app-body-block.lol-challenge-thresholds .thresholds-options .options-group {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    font-size: calc(var(--S) * 0.02);
}
.app-body-block.lol-challenge-thresholds .thresholds-options .options-group .option {
    margin-right: calc(var(--S) * 0.01);
}
.app-body-block.lol-challenge-thresholds .thresholds-options .options-category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    font-size: calc(var(--S) * 0.02);
}
.app-body-block.lol-challenge-thresholds .thresholds-options .options-category .option-category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--S) * 0.01);
    margin-left: calc(var(--S) * 0.01);
    width: calc(var(--S) * 0.05);
    height: calc(var(--S) * 0.05);
    border-radius: calc(var(--S) * 0.005);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.app-body-block.lol-challenge-thresholds .thresholds-options .options-category .option-category-item img {
    width: calc(var(--S) * 0.03);
    height: calc(var(--S) * 0.03);
}

.app-body-block.lol-challenge-thresholds .challenge-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--S) * 0.12);
    border-radius: calc(var(--S) * 0.01);
    background-color: rgba(var(--rank-core-color-r), var(--rank-core-color-g), var(--rank-core-color-b), 0.05);
    background-image: var(--row-capstone-image);
    background-size: contain;
    background-repeat: no-repeat;
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="IRON"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-iron.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-iron.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="BRONZE"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-bronze.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-bronze.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="SILVER"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-silver.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-silver.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="GOLD"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-gold.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-gold.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="PLATINUM"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-platinum.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-platinum.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="DIAMOND"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-diamond.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-diamond.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="MASTER"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-master.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-master.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="GRANDMASTER"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-grandmaster.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-grandmaster.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail[data-rank="CHALLENGER"] {
    --row-capstone-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-row-capstone-challenger.png");
    --card-points-container-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/challenge-card-points-container-challenger.png");
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-icon {
    padding: calc(var(--S) * 0.015);
    width: calc(var(--S) * 0.12);
    height: 100%;
    background-image: var(--card-points-container-image);
    background-size: 33%;
    background-repeat: no-repeat;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-icon img {
    width: 100%;
    height: auto;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    padding: calc(var(--S) * 0.015) 0;
    padding-right: calc(var(--S) * 0.015);
    flex: 1;
    height: 100%;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-name {
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(var(--S) * 0.04);
    font-size: calc(var(--S) * 0.033);
    font-weight: 700;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-description {
    grid-column: 1/3;
    grid-row: 5/8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
    font-size: calc(var(--S) * 0.018);
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-description em {
    margin: 0 calc(var(--S) * 0.005);
    font-style: normal;
    font-weight: 500;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages div {
    width: calc(var(--S) * 0.02);
    height: 100%;
    mask-image: url("/ui/assets/media/actions/right2.png");
    -webkit-mask-image: url("/ui/assets/media/actions/right2.png");
    background-color: #666666 !important;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.1);
    height: 100%;
    color: var(--rank-core-color);
    font-size: calc(var(--S) * 0.02);
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages .prev,
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages .next {
    opacity: 0.8;
    font-weight: 600;
    filter: blur(0.8px);
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-stages .current {
    font-weight: 700;
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-progress {
    grid-column: 1/3;
    grid-row: 8/10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    height: calc(var(--S) * 0.015);
    font-size: calc(var(--S) * 0.015);
    border-radius: calc(var(--S) * 0.015);
}
.app-body-block.lol-challenge-thresholds .challenge-detail .challenge-stat .challenge-progress .percentage-bar-item {
    border-radius: calc(var(--S) * 0.015);
    --fill-color: var(--rank-core-color);
}

.app-body-block.lol-challenge-thresholds .thresholds-table,
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--S) * 0.06 * var(--row-count));
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul {
    padding-right: calc(var(--S) * 0.025);
    border-bottom: 2px solid transparent;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li {
    pointer-events: auto;
    width: 100%;
    border-radius: calc(var(--S) * 0.01);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li,
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div {
    position: relative;
    height: calc(var(--S) * 0.06);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div {
    padding: 0 calc(var(--S) * 0.01);
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div {
    font-size: calc(var(--S) * 0.02);
    font-weight: 500;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div {
    font-size: calc(var(--S) * 0.018);
    font-weight: 400;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div img,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(1),
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div:nth-child(1) {
    width: calc(var(--S) * 0.04);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(2),
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div:nth-child(2) {
    padding: 0 calc(var(--S) * 0.005);
    width: calc(var(--S) * 0.06);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(2) {
    padding: 0 calc(var(--S) * 0.02);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(3),
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div:nth-child(3) {
    flex: 1;
    justify-content: flex-start;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(n+4),
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div:nth-child(n+4) {
    padding: calc(var(--S) * 0.01) 0;
    margin-left: calc(var(--S) * 0.0025);
    width: calc(var(--S) * 0.06);
    border-radius: 50%;
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li > div:nth-child(1) .mask {
    width: 100%;
    height: 100%;
    background-color: var(--unranked-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="0"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="0"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-fill-hover.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-fill-hover.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="1"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="1"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/innovation.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/innovation.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="2"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="2"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/expertise.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/expertise.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="3"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="3"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/veterancy.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/veterancy.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="4"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="4"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/teamwork.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/teamwork.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-id="5"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-id="5"] > div:nth-child(1) .mask {
    mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/collection.png");
    -webkit-mask-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/challenges-shared/categories/collection.png");
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="IRON"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="IRON"] > div:nth-child(1) .mask {
    background-color: var(--iron-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="BRONZE"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="BRONZE"] > div:nth-child(1) .mask {
    background-color: var(--bronze-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="SILVER"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="SILVER"] > div:nth-child(1) .mask {
    background-color: var(--silver-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="GOLD"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="GOLD"] > div:nth-child(1) .mask {
    background-color: var(--gold-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="PLATINUM"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="PLATINUM"] > div:nth-child(1) .mask {
    background-color: var(--platinum-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="DIAMOND"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="DIAMOND"] > div:nth-child(1) .mask {
    background-color: var(--diamond-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="MASTER"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="MASTER"] > div:nth-child(1) .mask {
    background-color: var(--master-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="GRANDMASTER"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="GRANDMASTER"] > div:nth-child(1) .mask {
    background-color: var(--grandmaster-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .head-ul li[data-category-rank="CHALLENGER"] > div:nth-child(1) .mask,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-category-rank="CHALLENGER"] > div:nth-child(1) .mask {
    background-color: var(--challenger-core-color);
}
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="IRON"] > div:nth-child(n+4)[data-rank="IRON"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="BRONZE"] > div:nth-child(n+4)[data-rank="BRONZE"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="SILVER"] > div:nth-child(n+4)[data-rank="SILVER"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="GOLD"] > div:nth-child(n+4)[data-rank="GOLD"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="PLATINUM"] > div:nth-child(n+4)[data-rank="PLATINUM"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="DIAMOND"] > div:nth-child(n+4)[data-rank="DIAMOND"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="MASTER"] > div:nth-child(n+4)[data-rank="MASTER"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="GRANDMASTER"] > div:nth-child(n+4)[data-rank="GRANDMASTER"] span,
.app-body-block.lol-challenge-thresholds .thresholds-table .body-ul li[data-rank="CHALLENGER"] > div:nth-child(n+4)[data-rank="CHALLENGER"] span {
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: calc(var(--S) * 0.01);
    color: var(--white-100);
    background-color: var(--rank-core-color);
}