#app[theme="dark"] .stepper {
    border-color: #cdbe91 !important;
    background-color: var(--black-600) !important;
}
#app[theme="dark"] .stepper .button {
    background-color: #cdbe91 !important;
}
#app[theme="dark"] .stepper input[type="text"] {
    color: var(--white-500) !important;
    border-color: #cdbe91 !important;
    background-color: var(--black-600) !important;
}