#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .career .item::after {
    border-color: var(--white-200) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .title h3 {
    color: var(--black-200) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail {
    background-color: var(--white-100) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail::before,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail::before,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail::before,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail::before {
    border-top-color: var(--white-100) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .name,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .name,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail .name,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .name {
    color: var(--black-200) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .data,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .data span,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .data,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .data span,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail .description,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .data,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .data span {
    color: var(--black-700) !important;
}
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .pr,
#app[theme="light"] .app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .pr span {
    color: var(--black-400) !important;
}