@import url("./dark.css");
@import url("./light.css");

.app-body-block.summoner-season-overview {
    height: 100%;
}
.app-body-block.summoner-season-overview>.block-inner {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.app-body-block.summoner-season-overview>.block-inner .player-banner {
    position: relative;
    width: calc(var(--S) * 0.92);
    height: calc(var(--S) * 0.26);
    padding: 0 calc(var(--S) * 0.03);
}
.app-body-block.summoner-season-overview>.block-inner .player-banner .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--S) * 0.0125);
    box-shadow: inset 0px 0px calc(var(--S) * 0.03) calc(var(--S) * 0.03) rgba(var(--black-200-rgb), 0.5);
    overflow: hidden;
    background-size: 100% auto;
    background-position: center top;
}
.app-body-block.summoner-season-overview>.block-inner .player-banner .profile {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.app-body-block.summoner-season-overview .player-banner .profile .basic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1 / 4;
    grid-column: 1 / 7;
    padding-top: calc(var(--S) * 0.01);
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.15);
    height: calc(var(--S) * 0.15);
    background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/uikit/themed-borders/theme-1-border.png");
    background-size: 145%;
    background-repeat: no-repeat;
    background-position-x: calc(var(--S) * -0.033);
    background-position-y: calc(var(--S) * -0.026);
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon .xp-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.085);
    height: calc(var(--S) * 0.085);
    --progress-start: 180deg;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon .xp-progress img {
    width: calc(var(--S) * 0.08);
    height: calc(var(--S) * 0.08);
    border-radius: 50%;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon .level {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: calc(var(--S) * 0.025);
    width: calc(var(--S) * 0.06);
    height: auto;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon .level img {
    position: absolute;
    width: 100%;
    height: auto;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .icon .level span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: calc(var(--S) * 0.015);
    color: #fff;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: calc(var(--S) * 0.02);
    flex: 1;
    height: calc(var(--S) * 0.1);
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .info .name {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 60%;
    font-size: calc(var(--S) * 0.03);
    font-weight: 600;
    color: #f0e6d2 !important;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .info .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: calc(var(--S) * 0.025);
    width: 100%;
    height: 40%;
    font-size: calc(var(--S) * 0.02);
    font-weight: 500;
    color: #cdbe91 !important;
}
.app-body-block.summoner-season-overview .player-banner .profile .basic .info .title::before {
    content: "";
    position: absolute;
    left: 0;
    margin: calc(var(--S) * 0.001);
    width: calc(var(--S) * 0.016);
    height: calc(var(--S) * 0.016);
    border-radius: 50%;
    background: var(--rank-core-color);
    border: calc(var(--S) * 0.004) solid var(--rank-wing-color);
}

.app-body-block.summoner-season-overview .player-banner .profile .stats {
    grid-row: 4 / 6;
    grid-column: 1 / 5;
    justify-content: flex-start;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-banner .profile .ranks {
    grid-row: 3 / 6;
    grid-column: 5 / 7;
    justify-content: flex-end;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-banner .profile .stats,
.app-body-block.summoner-season-overview .player-banner .profile .ranks {
    display: flex;
    align-items: flex-end;
    padding: calc(var(--S) * 0.02) 0;
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: calc(var(--S) * 0.1);
    border-right: 2px solid transparent;
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item {
    height: calc(var(--S) * 0.06);
}
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item {
    height: calc(var(--S) * 0.15);
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item:last-child,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item:last-child {
    border-right: 0;
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item .data,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item .data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--S) * 0.04);
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item .icon,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item .icon {
    position: relative;
    top: calc(var(--S) * 0.01);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 calc(var(--S) * 0.01);
    width: calc(var(--S) * 0.08);
    height: calc(var(--S) * 0.08);
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item .data span,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item .data span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 calc(var(--S) * 0.005);
    font-size: calc(var(--S) * 0.024);
    font-weight: 600;
    color: #f0e6d2 !important;
}
.app-body-block.summoner-season-overview .player-banner .profile .stats .item .name,
.app-body-block.summoner-season-overview .player-banner .profile .ranks .item .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.1);
    height: calc(var(--S) * 0.02);
    font-size: calc(var(--S) * 0.016);
    font-weight: 400;
    color: #cdbe91 !important;
}

.app-body-block.summoner-season-overview .player-stats {
    margin-top: calc(var(--S) * 0.02);
    width: 100%;
    height: calc(var(--S) * 0.5);
}
.app-body-block.summoner-season-overview .player-stats-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    height: calc(var(--S) * 0.4);
}
.app-body-block.summoner-season-overview .player-stats-inner .career {
    grid-column: 1 / 10;
    grid-row: 1 / 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(var(--S) * 0.02);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: calc(var(--S) * 0.0025) solid transparent;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item {
    --career-item-size: calc(var(--S) * 0.15);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    width: var(--career-item-size);
    height: var(--career-item-size);
    border: calc(var(--career-item-size) * 0.032) solid var(--rank-wing-color);
    border: calc(var(--S) * 0.005) solid var(--rank-wing-color);
    -webkit-transition: border-color 1s;
    transition: border-color 1s;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item::before {
    content: "";
    position: absolute;
    top: calc(var(--career-item-size) * -0.075);
    width: calc(var(--career-item-size) * 0.125);
    height: calc(var(--career-item-size) * 0.125);
    transform: rotate(45deg);
    background-color: var(--rank-core-color);
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: calc(var(--career-item-size) * -0.15);
    width: calc(var(--career-item-size) * 0.25);
    height: calc(var(--career-item-size) * 0.25);
    border-width: calc(var(--career-item-size) * 0.075);
    border-style: solid;
    -webkit-transition: border-color 1s;
    transition: border-color 1s;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--career-item-size) * 0.845);
    height: calc(var(--career-item-size) * 0.845);
    border-radius: 50%;
    overflow: hidden;
    background: var(--rank-wing-color);
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .background img {
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(var(--career-item-size) * 0.845);
    height: calc(var(--career-item-size) * 0.845);
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--career-item-size) * 0.1875);
    font-size: calc(var(--career-item-size) * 0.125);
    font-weight: 600;
    color: #cdbe91 !important;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner .data {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
    height: calc(var(--career-item-size) * 0.25);
    font-size: calc(var(--career-item-size) * 0.094);
    line-height: calc(var(--career-item-size) * 0.1875);
    font-weight: 700;
    color: #f0e6d2 !important;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner .data span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    margin: 0 calc(var(--career-item-size) * 0.0375);
    font-size: calc(var(--career-item-size) * 0.1875);
    line-height: calc(var(--career-item-size) * 0.1875);
    font-weight: 700;
    color: #f0e6d2 !important;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--career-item-size) * 0.125);
    font-size: calc(var(--career-item-size) * 0.094);
    font-weight: 500;
    color: #cdbe91 !important;
}
.app-body-block.summoner-season-overview .player-stats-inner .career .item .inner .detail span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    margin: 0 calc(var(--career-item-size) * 0.0375);
    font-size: calc(var(--career-item-size) * 0.094);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent {
    grid-column: 1 / 10;
    grid-row: 5 / 7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: calc(var(--S) * 0.0025) solid transparent;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(var(--S) * 0.02);
    width: 40%;
    height: 80%;
    border-right: calc(var(--S) * 0.0025) solid transparent;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .title h3 {
    font-size: calc(var(--S) * 0.02);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: calc(var(--S) * 0.01);
    flex: 1;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc(var(--S) * 0.01);
    width: calc(var(--S) * 0.05);
    height: calc(var(--S) * 0.05);
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .icon {
    border-radius:  calc(var(--S) * 0.01);
    width: 100%;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-105%);
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.02);
    font-weight: 600;
    white-space: nowrap;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.018);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .champions .container .item .detail .data span {
    margin-right: calc(var(--S) * 0.005);
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 calc(var(--S) * 0.02);
    width: 60%;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--S) * 0.01) 0;
    width: calc(var(--S) * 0.08);
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .icon {
    display: flex;
    align-items: center;
    width: calc(var(--S) * 0.04);
    height: calc(var(--S) * 0.04);
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .win-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.04);
    font-size: calc(var(--S) * 0.02);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .win-rate span {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: calc(var(--S) * 0.005);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-85%);
    width: calc(var(--S) * 0.1);
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.02);
    font-weight: 600;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.018);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .recent .positions .item .detail .data span {
    margin-right: calc(var(--S) * 0.005);
}
.app-body-block.summoner-season-overview .player-stats-inner .record {
    grid-column: 1 / 10;
    grid-row: 7 / 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    padding: 0 calc(var(--S) * 0.02);
    width: 40%;
    height: 80%;
    border-right: calc(var(--S) * 0.0025) solid transparent;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--S) * 0.1);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .icon {
    display: flex;
    align-items: center;
    width: calc(var(--S) * 0.06);
    height: calc(var(--S) * 0.06);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .percentile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.04);
    font-size: calc(var(--S) * 0.02);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .percentile span {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: calc(var(--S) * 0.005);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--S) * 0.3);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.03);
    margin-bottom: calc(var(--S) * 0.01);
    font-size: calc(var(--S) * 0.02);
    font-weight: 600;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail .description {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: calc(var(--S) * 0.015);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .challenges .item .detail .description * {
    margin: 0 calc(var(--S) * 0.005);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    padding: 0 calc(var(--S) * 0.02);
    width: 40%;
    height: 80%;
    border-right: calc(var(--S) * 0.0025) solid transparent;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.1);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .banner {
    position: absolute;
    top: calc(var(--S) * 0.03);
    width: calc(var(--S) * 0.05);
    height: calc(var(--S) * 0.05);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .icon {
    position: relative;
    top: calc(var(--S) * -0.02);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.08);
    height: calc(var(--S) * 0.08);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .icon .champion {
    position: absolute;
    width: calc(var(--S) * 0.06);
    height: calc(var(--S) * 0.06);
    border-radius: 50%;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .icon .frame {
    position: relative;
    width: calc(var(--S) * 0.08);
    height: calc(var(--S) * 0.08);
    background-size: contain;
    background-image: url("https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-profiles/global/default/images/mastery_framecomplete.png");
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .mastery {
    position: absolute;
    top: calc(var(--S) * 0.04);
    width: calc(var(--S) * 0.06);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.02);
    font-weight: 600;
    white-space: nowrap;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(var(--S) * 0.03);
    font-size: calc(var(--S) * 0.018);
    font-weight: 500;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .masteries .item .detail .data span {
    margin-right: calc(var(--S) * 0.005);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: calc(var(--S) * 0.01);
    width: 20%;
    height: 100%;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .actions .view,
.app-body-block.summoner-season-overview .player-stats-inner .record .actions .report {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--S) * 0.15);
    height: calc(var(--S) * 0.05);
    border-radius: calc(var(--S) * 0.006);
    font-weight: 500;
    font-size: calc(var(--S) * 0.02);
    letter-spacing: calc(var(--S) * 0.01);
    text-indent: calc(var(--S) * 0.01);
}
.app-body-block.summoner-season-overview .player-stats-inner .record .actions .view {
    color: var(--white-100);
    background: #3CBC8D;
}
.app-body-block.summoner-season-overview .player-stats-inner .record .actions .report {
    color: var(--white-100);
    background: #E84057;
}