#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item:hover {
    background-color: var(--black-400);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-name {
    color: var(--white-300);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .option.invalid * {
    background-color: #E84057 !important;
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .option .text {
    color: var(--white-500);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .champion {
    color: var(--white-400);
    background-color: var(--black-600);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .champion:focus {
    color: var(--white-400);
    background-color: var(--gray-100);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .spell {
    color: var(--white-400);
    background-color: var(--black-600);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .spell:focus {
    color: var(--white-400);
    background-color: var(--gray-100);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .runepage {
    background-color: var(--black-600);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .runepage:hover {
    background-color: var(--black-700);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .runepage .runes-icon {
    filter: brightness(1.2);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .nickname {
    color: var(--white-400);
    background-color: var(--black-600);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .nickname:focus {
    color: var(--white-400);
    background-color: var(--gray-100);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .nickname:read-only:focus {
    color: var(--white-400);
    background-color: var(--black-600);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .keybind {
    color: var(--white-400);
    background-color: var(--black-600);
}
#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .keybind:focus {
    color: var(--white-400);
    background-color: var(--gray-100);
}


#app[theme="dark"] *[type="config"] .app-body-block .group-inner .config-item .item-options .text-preview {
    color: var(--white-400);
    background-color: var(--black-600);
}