#app[theme="dark"] .horizontal-percentage-bar, .vertical-percentage-bar {
    --base-color: transparent;
}
#app[theme="dark"] .horizontal-percentage-bar .percentage-bar-item:nth-child(1),
#app[theme="dark"] .vertical-percentage-bar .percentage-bar-item:nth-child(1) {
    --fill-color: #265C4B;
}
#app[theme="dark"] .horizontal-percentage-bar .percentage-bar-item:nth-child(2),
#app[theme="dark"] .vertical-percentage-bar .percentage-bar-item:nth-child(2) {
    --fill-color: #146551;
}
#app[theme="dark"] .horizontal-percentage-bar .percentage-bar-item:nth-child(3),
#app[theme="dark"] .vertical-percentage-bar .percentage-bar-item:nth-child(3) {
    --fill-color: #007566;
}
#app[theme="dark"] .horizontal-percentage-bar .percentage-bar-item:nth-child(4),
#app[theme="dark"] .vertical-percentage-bar .percentage-bar-item:nth-child(4) {
    --fill-color: #589A8D;
}
#app[theme="dark"] .horizontal-percentage-bar .percentage-bar-item:nth-child(5),
#app[theme="dark"] .vertical-percentage-bar .percentage-bar-item:nth-child(5) {
    --fill-color: #8FC1B5;
}