#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group .group-indicator .group-detail {
    color: var(--white-100) !important;
    background-color: var(--black-500) !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group .group-indicator .group-detail::before {
    border-bottom-color: var(--black-500) !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.basic .name,
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.rank .queue .name {
    color: #f0e6d2 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.basic .rank span,
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.rank .queue .data span {
    color: #cdbe91 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match[win="1"] {
    background-color: #28344E !important;
    border-left-color: #5383E8 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match[win="0"] {
    background-color: #59343B !important;
    border-left-color: #E84057 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match .kda {
    color: var(--white-100) !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match[win="1"] .kda {
    background-color: #5383E8 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match[win="0"] .kda {
    background-color: #E84057 !important;
}
#app[theme="dark"] .app-body-block.live-game-player-list .sub-player-list .group-players .player .info.history .match .queue {
    color: var(--white-400) !important;
}