#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item[win="1"] {
    background-color: #28344E !important;
    border-left-color: #5383E8 !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item[win="0"] {
    background-color: #59343B !important;
    border-left-color: #E84057 !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .game-champion span {
    color: var(--white-300) !important;
    background-color: var(--black-500) !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .game-detail .detail-kda {
    color: #7B7A8E !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .game-detail .detail-kda .detail-kda-k,
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .game-detail .detail-kda .detail-kda-a {
    color: var(--white-100) !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .game-detail .detail-kda .detail-kda-d {
    color: #E84057 !important;
}
#app[theme="dark"] .app-body-block.tft-recent-matches .recent-matches-item .stats-item span {
    color: #f0e6d2 !important;
}